<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <span>You are connecting to host <b>{{ host }}</b> on <b>{{ ip }}</b></span>
        <span><h5>You are running version: {{ app_ver }}</h5></span>
		<img src="https://pbs.twimg.com/media/FEPlz4RXEAQZeSD?format=jpg&name=large"/>
    </body>
</html>
